#data{
  width:100%;
  height:230px;
  left:0px;
  top:0px;
  position: absolute;
}
#maq{
  margin-top:55%;
}
.scroll{
  font-weight:500;
  font-family:timesnewroman;
}
#watch{
  text-align:center;
  margin-top:0;
  font-size:17px;
  font-weight:400;
  font-family:timesnewroman;
}
#rule{
  margin-top:0;
  background:#DC019E;
  outline:none;
  border:none;
  height:1px;
  width:100%;
  left:0;
  top:0;
  position: absolute;
  margin-top:70%;
}
#icon{
  text-align:center;
  color:#DC019E;
  font-size:40px;
}
